*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: abel;
    src: url(fonts/Abel-Regular.ttf);
}
#HomePage{
    width: 100%;
    height: 140vh;
    min-width: 100%;
    overflow-x: hidden;
}
#HomePage nav h1{
   font-family: abel;
   font-size: 1.4em;
   padding-left: 30px;
}
#HomePage h1 span{
  color: darkcyan;
}
#HomePage nav{
   width: 100vw;
   min-width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   box-shadow: 5px 5px 5px rgba(164, 164, 164, 0.24);
   position: fixed;
   z-index: 1000;
   background: rgb(255, 255, 255);
}
#HomePage nav img{
   padding-right: 12px;
   cursor: pointer;
}
#HomePage nav .dropdown.show{
    display: block;
}
#HomePage nav .dropdown{
   width: 155px;
   height: 190px;
   background-color: white;
   position: absolute;
   margin-left: -4cm;
   box-shadow: 5px 5px 5px rgba(133, 133, 133, 0.145);
   display: none;
   overflow-x: hidden;
   border-radius: 10px;
}
.sign{
    width: 55px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(192, 192, 192, 0.315);
    border-radius: 4px;
    height: 20px;
 
}
#HomePage nav .dropdown ul{
   list-style: none;
   padding-top: 19px;
   padding-left: 8px;

}
#HomePage nav .dropdown ul li{
   padding-bottom: 6px;
   padding-top: 4px;
   border-bottom: 1px solid rgba(112, 112, 112, 0.047);
}
#HomePage nav .dropdown ul li img{
 vertical-align: top;
 object-fit: cover;
}
#HomePage nav .dropdown ul li a{
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: black;
}
#HomePage .homepage-heroSection{
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content{
   width: 88%;
   height: 380px;
   background:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.622)),url(image/pexels-rahimart-33930075.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 20px;
   padding-top: 80px;
   color: white;
   padding-left: 10px;
}
.Welcome{
    font-family: abel ;
    font-size: 50px;
    padding-bottom: 7px;
}
.appear{
    display: none;
    text-decoration: none;
    padding-left: 1px;
    color: black;
}
@media  screen and (min-width: 810px) {
.Welcome{
    font-family: abel ;
    font-size: 55px;
    padding-bottom: 7px;
}
#Homepage nav img{
    display: none;
}
.appear{
    display: none;
    text-decoration: none;
    padding-left: 1px;
    color: black;
}
.second{
    width: 100%;
    height: 63vh !important;
}
.content{
   padding-top: 30px;
   color: white;
   padding-left: 10px;
}
.content p{
    padding-top: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 23px;
}
.ge{
    width: 66% ;
    padding-left: 12px;
}
#explore{
    margin-top: 12px;
}
#HomePage{
    width: 100%;
    height: 70vh;
    overflow-x: hidden; 
}
.latest-container .for ul{
    display: grid;
    grid-template-columns: repeat(2, 350px);
}
.second-container ul li .main-block{
   width: 100% !important;
   height: 300px !important;
}
.latest-container ul li .card-link ul{
   display: grid;
   grid-template-columns: repeat(2, 180px);
}
.latest-container ul li .card-link ul li img{
   width: 100%;
   height: 130px;
   border-radius: 12px;
}
}
@media  screen and (min-width: 1000px ) {
    #HomePage{
    width: 100%;
    height: 150vh;
    overflow-x: hidden; 
}
.second{
    width: 100%;
    height: 80vh !important;
}
.content{
   width: 92%;
   height: 590px;
   background:linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.622)),url(image/pexels-rahimart-33930075.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 20px;
   padding-top: 140px;
   color: white;
   padding-left: 60px;
}
.ge{
    width: 40%;
}
.Welcome{
    font-size: 90px;
}
.ge p{
    padding-top: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    padding-bottom: 15px;
    line-height: 30px;
}
.latest-container h1{
    font-size: 40px;
    padding-left: 12px;
}
.latest-container .for ul{
    display: grid;
    grid-template-columns: repeat(2, 700px);
    padding-left: 12px;
}
.latest-container ul li .card-link ul{
   display: grid;
   grid-template-columns: repeat(2, 300px)!important;
}
.latest-container ul li .card-link ul h2{
    font-size: 10px;
}
.latest-container ul li .card-link{
   width: 100% ;
   height: 240px !important ;
  
}
.second-container ul{
    display: grid;
    grid-template-columns: repeat(2, 700px)!important;
    gap: 19px;
    padding-top: 9px;
    list-style: none;
}
}

.content p{
    padding-top: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding-bottom: 15px;
    line-height: 23px;
}
#explore{
    border: none;
    width: 160px;
    height: 50px;
    color: white;
    background: darkcyan;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s ease;
}
#explore a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}
#explore:hover{
   transform: scale(0.9);
}
.latest-container{
    padding-top: 25px;
    padding-left: 21px;
    width: 100%;
}
.latest-container h1{
    font-family: abel;
    opacity: 0;
    transition: 0.3s ease;
}
.latest-container ul{
    padding-top: 25px;
    list-style: none;
    gap: 19px;
    display: grid;
    grid-template-columns: repeat(1, 88%);
}
.latest-container ul li .card-link{
   width: 100% ;
   height: 200px;
   position: relative;
   border-radius: 12px;
   border: 1px solid rgba(113, 113, 113, 0.401);
   padding-left: 10px;
   cursor: pointer;
   box-shadow: 5px 5px 5px rgba(155, 155, 155, 0.056);
   transition: 0.7s ease;
   transform: translate(-50%);
   opacity: 0;
}
.latest-container ul li .card-link:hover{
   border: 1px solid darkcyan;
   transform: scale(0.94);
   
}
.latest-container ul li .card-link ul{
   display: grid;
   grid-template-columns: repeat(2, 140px);
}
.latest-container ul li .card-link ul li h2{
   font-family: abel;
   font-size: 22px;
}
.latest-container ul li .card-link ul li p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14.5px;
   padding-bottom: 15px;
}
.latest-container ul li .card-link ul li p a{
   text-decoration: none;
   color: darkcyan;
}
.latest-container ul li .card-link ul li img{
   width: 100%;
   border-radius: 12px;
}
.second{
    width: 100%;
    height: 89vh;
    overflow-x: hidden;
}
.second-container{
    padding-top: 5px;
    padding-left: 21px;
    width: 100%;
}
.second-container h1{
  font-family: abel;
  font-size: 22px;
  padding-left: 15px;
}
.second-container ul{
    display: grid;
    grid-template-columns: repeat(1, 88%);
    gap: 19px;
    padding-top: 9px;
    list-style: none;
}
.second-container ul li .main-block{
   width: 100% ;
   height: 270px;
   position: relative;
   border-radius: 12px;
   border: 1px solid rgba(113, 113, 113, 0.401);
   cursor: pointer;
   box-shadow: 5px 5px 5px rgba(155, 155, 155, 0.134);
   transition: 0.5s linear;
   transform: scale(0.8);
   opacity: 0;
}
.second-container ul li .main-block img{
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 50%;
}
.second-container ul li .main-block p{
 padding-left: 15px ;
 padding-top: 5px;
 padding-bottom: 6px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-container ul li .main-block p .read{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.5px;
    text-decoration: none;
    color: darkcyan;
}
#animate.visible{
    opacity: 1;
    transform: scale(1) translate(0);
}
footer{
    width: 100%;
    height: 20vh;
    background: rgba(166, 201, 201, 0.403);
    border-top: 1px solid rgba(192, 220, 220, 0.534);
    padding-top: 55px;
    background:linear-gradient(rgba(0, 0, 0, 0.227),rgba(0, 0, 0, 0.792)),url(image/ChatGPT\ Image\ Sep\ 18\,\ 2025\,\ 10_58_12\ PM.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
footer p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    font-family: 13px;
}
